<body>
    <div class="container">
    <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
          <div class="logo">
                <a href="#">Qube-Chain</a>
          </div>
          <div class="nav-wrapper">
                <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#" class="Login">Login/Signup</a></li>
                </ul>
          </div>
    </nav>
</div>
<router-outlet></router-outlet>
